*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(to  right,#ff9a9e 0%,#fad0c4 25%,#f6d365 70%,#fad0c4);
    
}
.container{
    display: flex;
    background-color: rgb(250, 245, 245);
    border-radius: 10px;
    padding: 30px;
    margin-top: 10%;
    margin-left: 25%;
    box-shadow: 5px 5px 5px rgb(173, 161, 161);
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1{
    color: green;
    margin-bottom: 25px;
    /* text-shadow: 8px 10px 1px; */
}
#para{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(87, 179, 87);
}
#btn{
    padding: 10px;
    border: none;
    outline: none;
    background-color: green;
    border-radius: 5px;
}
.spinner {
  display: none;
  width: 40px;
  height: 40px;
  border: 5px solid #ddd;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}